img {
    float: right;
    width: 150px;
    height: 100px;
    border-radius: 5px;
}


h1 {
    text-align: right;
    color: #fff;
}

h2 {
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.content {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    width: 370px;
    margin: 0 auto;
    box-shadow: 5px 5px 15px #ffff00;
    transition: all 1s;
}

.content:hover {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 15px #f00;
    transform: scale(0.5s);
}

section {
    text-align: right;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: #fff;
    text-align: right;
    transition: all 0.5s;

}

h1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: all 0.5s;
    font-size: 50px;
}



h4 {
    text-align: right;
    margin-top: 50px;
}

div:hover {
    transition: all 0.5s;
}

h1 {
    transition: all 0.5s;
}

h1:hover {
    color: #ffff00;
    transition: all 0.5s;
}

.read {
    text-align: center;
    font-size: 25px;
    color: #fff;
    transition: all 0.5s;
}

.read:hover {
    text-align: center;
    font-size: 30px;
    color: #ffff00;
    transition: all 0.5s;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
}


.logo {
    margin: 0 auto;
    margin-top: 10px;
}

footer {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: Footlight MT Light;
}

.contcnt {
    animation-duration: 3s;
    animation-name: bouncing;
}

@keyframes bouncing {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

/* بداية لوحة تسجيل الدخول */
body {
    background: #000;
}

h1 {
    background: rgb(255, 255, 255);
    color: #000;
    padding: 10px;
    font-size: 25px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}

p {
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    text-align: center;
}

header h1 {
    text-align: center;
    position: static;
    border-radius: 5px;
    border-radius: 5px;
}

form {
    background-color: black;
    width: 530px;
    border-radius: 5px;
    margin-left: 425px;
    margin-right: 425px;
    border: 5px solid #fff;
    box-shadow: 5px 5px 12px 12px #ffffff;

}

.user {
    margin-top: 20px;
}


label {
    color: #fff;
    margin-left: 30px;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
}

input {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    margin-bottom: 15px;
    color: #000;
    user-select: all;
}

.button {
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    border: black;
    padding: 10px;
    width: 225px;
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(214, 208, 208);
    transition: all 0.5s;
}

.moh {
    margin-bottom: 40px;
}

.color {
    width: 275px;
    padding: 15px;
}

.email {
    background-color: rgb(255, 255, 255);
}

.Username {
    background-color: #fff;
    margin-top: 20px;
}

.moh {
    background-color: #ddd;
}

.post1,
.post2 {
    color: #ffff00;
    text-decoration: underline;
    text-decoration-color: #f00;
    text-decoration-style: 2px solid;
}

h1,
h2,
h3,
h4,
p,
.read {
    background-color: black;
}

/* نهاية لوحة تسجيل الدخول */
.logo {
    font-size: 50px;
    color: #fff;
}

h5 {
    text-align: center;
    color: #fff;
    font-size: 25px;
}

select {
    background-color: #ffff00;
}

.post2:active {
    animation-name: bouncing;
    animation-duration: 0.5s;
}

.form0 {
    margin: 0 auto;
    width: 400px;
}

.button {
    margin-left: 8px;
}

form {
    text-align: center;
}

label {
    margin-bottom: 8px;
    display: block;
}

hr {
    margin-top: 200px;
}

* {
    padding: 0;
    margin: 0;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffff00;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #011;
}

ul li {
    list-style-type: none;
    display: inline;
}

nav {
    background-color: #000;
    float: left;
    margin-top: 10px;
}

li {
    padding: 10px;
    font-size: 25px;
}

.nav1 {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

a:hover {
    color: #ffff00;
}

.contcnt {
    float: right;
    margin-right: 120px;
}

h5 {
    margin-top: 25px;
}

.hr1 {
    background-color: #ffff00;
    height: 10px;
    margin-top: 200px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.h3-1 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}

footer {
    margin-bottom: 15px;
    margin-top: 10px;
}