
@import url('https://fonts.googleapis.com/css?family=El+Messiri');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'El Messiri', sans-serif;
  background: #000000;
  text-align: center;
}

.link
{
  text-align: center;
  font-size: 25px;
  background-color: #eecf1d;
  color: black; 
  position: 50% 50%;
  border: 5px solid #fff;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.5s;
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}
.link:hover
{
  background: #000000;
  color: #fff;
  transition: all 0.50s;
  border: 5px solid #fff;
  padding: 10px;
  font-size: 30;
}
.link:active
{
  transition: all 0.3s;
  background: #feed01;
  color: #000000;
}
.link:link
{
  text-decoration: none;
}

.link:visited
{
text-decoration: none;
}
.link:active
{
text-decoration: none;
}
.link:hover
{
text-decoration: none;
}
.link.forumlink:hover
{
text-decoration:none;
}

.pagelogo
{
  width: 200px;
  height: 200px;
  margin-top: 30px;
}
.foteer
{
  width: 50px;
  height: 50px;
}
.footer
{
  color: #fff;
}
